@charset "utf-8";

$theme_color: #407fed;
$text_color: #555d66;
$subtext_color: #aaa;
$accent_color: #F96C6C;

//カスタマイザー
$light_blue_color: #f3f8ff;
$gray_color: #aaaaaa;
$light_gray_color: #d8d8d8;
$wp_color: #eee;
$sub_color: #ccc;