/* CSS Document */
@charset "utf-8";
@use "../core/setting" as s;

.jinr-heading{
    line-height: 1.3;
    letter-spacing: 0.15rem;
}

h2.jinr-heading{
    margin-top: (s.$double_margin * 1.6);
    margin-bottom: 2.7rem;
    font-size: clamp(1.3em, 3.5vw, 1.65em);
    @include s.mini_tablet_view{
        margin-bottom: 3.3rem;
        margin-top: 6.9rem;
    }
    & + p{
        margin-top: 2.7rem!important;
        @include s.mini_tablet_view{
            margin-top: 3.3rem!important;
        }
    }
}
h3.jinr-heading{
    margin-top: (s.$double_margin * 1.1);
    margin-bottom: 2.7rem;
    font-size: clamp(1.15em, 2.4vw, 1.35em);
    @include s.mini_tablet_view{
        margin-top: 4.5rem;
    }
    & + p{
        margin-top: 2.7rem!important;
    }
}
h4.jinr-heading{
    margin-top: (s.$double_margin * 1.1);
    margin-bottom: 2.4rem;
    font-size: clamp(1em, 2.4vw, 1.15em);
    @include s.mini_tablet_view{
        margin-top: 4.5rem;
    }
    & + p{
        margin-top: 2.4rem!important;
    }
}
h5.jinr-heading{
    margin-top: (s.$double_margin * 1.1);
    margin-bottom: s.$base_margin;
    font-size: 1em;
    box-sizing: content-box!important;
    @include s.mini_tablet_view{
        margin-top: s.$double_margin;
    }
    & + p{
        margin-top: 1rem!important;
    }
}
.d--zenkakugothic,
.d--shipporimincho,
.d--notoserif{
    h2.jinr-heading,
    h3.jinr-heading,
    h4.jinr-heading,
    h5.jinr-heading{
        font-weight: 700!important;
        @include s.mini_tablet_view{
            font-weight: 400!important;
        }
    }
}
.d--kiwimaru,
.d--mpr-thin,
.d--notosans-thin{
    h2.jinr-heading,
    h3.jinr-heading,
    h4.jinr-heading,
    h5.jinr-heading{
        font-weight: 500!important;
        @include s.mini_tablet_view{
            font-weight: 300!important;
        }
    }
}
.d--jpf-default{
    h2.jinr-heading{
        @include s.mini_tablet_view{
            font-weight: 400!important;
        }
    }
    h3.jinr-heading{
        @include s.mini_tablet_view{
            font-weight: 500!important;
        }
    }
}


/*見出し２*/
.d--h2-style1{
    h2.jinr-heading{
        color: #fff;
        padding: 18px clamp(18px, 3vw, 21px);
    }
}
.d--h2-style2{
    h2.jinr-heading{
        position: relative;
        color: #fff;
        padding: 18px clamp(18px, 3vw, 21px);
        &::before{
            content: "";
            position: absolute;
            top: 100%;
            left: clamp(21px, 4vw, 27px);
            border-width: 13px 9px 0 9px;
            border-style: solid;
            border-color: transparent;
            @include s.mini_tablet_view{
                border-width: 16px 11px 0 11px;
            }
        }
    }
}
.d--h2-style3{
    h2.jinr-heading{
        padding: clamp(18px, 2.7vw, 21px) 3px;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-top-width: 2px;
        border-top-style: solid;
    }
}
.d--h2-style4{
    h2.jinr-heading{
        position: relative;
        padding: 0 3px clamp(9px, 2.7vw, 15px);
        &::before{
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            background-color:rgba($color: #000000, $alpha: 0.1);
        }
        &::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: clamp(90px, 18vw, 150px);
            height: 3px;
        }
    }
}
.d--h2-style5{
    h2.jinr-heading{
        position: relative;
        padding: clamp(18px, 2.7vw, 21px) 0 clamp(18px, 2.7vw, 21px) clamp(18px, 3vw, 24px) ;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
        }
    }
}
.d--h2-style6{
    h2.jinr-heading{
        position: relative;
        padding: 18px clamp(21px, 3vw, 24px);
        background-color:rgba($color: #000000, $alpha: 0.03);
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 100%;
        }
    }
}
.d--h2-style7{
    h2.jinr-heading{
        position: relative;
        padding: 18px 3px 0;
        margin-top: 6.3rem;
        @include s.mini_tablet_view{
            padding-bottom: 15px;
            margin-top: 9rem;
        }
        &::before{
            content: "";
            position: absolute;
            top: -9px;
            left: 0;
            width: 100%;
            height: 3px;
        }
        &::after{
            content: "";
            position: absolute;
            top: -1px;
            left: 0;
            width: 100%;
            height: 1px;
        }
    }
}
.d--h2-style8{
    h2.jinr-heading{
        position: relative;
        padding: 18px clamp(18px, 3vw, 27px);
        background: linear-gradient(-45deg,transparent 25%,#f3f3f3 25%,#f3f3f3 50%,transparent 50%,transparent 75%,#f3f3f3 75%,#f3f3f3);
        background-size: 6px 6px;
        background-clip: padding-box;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            top: -3px;
            left: -10px;
            border-width: 16px 16px 0 16px;
            border-style: solid;
            border-color: transparent;
            transform: rotate(135deg);
            @include s.mini_tablet_view{
                left: -15px;
                border-width: 20px 20px 0 20px;
            }
        }
    }
}
.d--h2-style9{
    h2.jinr-heading{
        position: relative;
        padding: clamp(18px, 3vw, 21px) 3px 18px 3px;
        border-top-width: 1px;
        border-top-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        &::before{
            content: "";
            position: absolute;
            top: -7px;
            left: 3px;
            width: 13px;
            height: 13px;
            transform: rotate(45deg);
            @include s.mini_tablet_view{
                top: -8px;
                left: 3px;
                width: 15px;
                height: 15px;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: -7px;
            left: 21px;
            width: 13px;
            height: 13px;
            transform: rotate(45deg);
            border-style: solid;
            border-width: 1px;
            background-color: #fff;
            box-sizing: border-box;
            border-radius: 0!important;
            @include s.mini_tablet_view{
                top: -8px;
                left: 24px;
                width: 15px;
                height: 15px;
            }
        }
    }
}
.d--h2-style10{
    h2.jinr-heading{
        position: relative;
        padding: 18px clamp(18px, 3vw, 21px);
    }
}

/*見出し３*/
.d--h3-style1{
    h3.jinr-heading{
        padding: clamp(6px, 2.7vw, 9px) 3px;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
}
.d--h3-style2{
    h3.jinr-heading{
        position: relative;
        padding: clamp(6px, 2.7vw, 9px) 0 clamp(6px, 2.7vw, 9px) clamp(21px, 3vw, 24px) ;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
        }
    }
}
.d--h3-style3{
    h3.jinr-heading{
        position: relative;
        padding: clamp(6px, 2.7vw, 9px) 0 clamp(6px, 2.7vw, 12px) 18px ;
        border-bottom-width: 2px;
        border-bottom-style: dashed;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            @include s.mini_tablet_view{
                width: 4px;
            }
        }
    }
}
.d--h3-style4{
    h3.jinr-heading{
        padding: clamp(6px, 2.7vw, 9px) 3px;
        border-bottom-width: 4px;
        border-bottom-style: double;
    }
}
.d--h3-style5{
    h3.jinr-heading{
        position: relative;
        padding: clamp(6px, 2.7vw, 9px) 0 clamp(6px, 2.7vw, 9px) clamp(21px, 3vw, 24px) ;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 6px;
            width: 1px;
            height: 100%;
        }
    }
}
.d--h3-style6{
    h3.jinr-heading{
        position: relative;
        padding-left: 24px;
        @include s.mini_tablet_view{
            padding-left: clamp(27px, 3vw, 30px);
        }
        &::before{
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 3px;
            @include s.mini_tablet_view{
                top: 5px;
                width: 18px;
                height: 18px;
            }
        }
    }
}
.d--h3-style7{
    h3.jinr-heading{
        position: relative;
        padding-left: 24px;
        @include s.mini_tablet_view{
            padding-left: clamp(27px, 3vw, 30px);
        }
        &::before{
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 16px;
            height: 16px;
            border-width: 1px;
            border-style: solid;
            border-radius: 18px;
            @include s.mini_tablet_view{
                top: 4px;
                width: 18px;
                height: 18px;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: 5px;
            left: 3px;
            width: 12px;
            height: 12px;
            border-radius: 18px;
            @include s.mini_tablet_view{
                top: 8px;
                left: 4px;
            }
        }
    }
}
.d--h3-style8{
    h3.jinr-heading{
        position: relative;
        padding: clamp(12px, 2.7vw, 15px) clamp(15px, 3vw, 18px) ;
    }
}

/*見出し４*/
.d--h4-style1{
    h4.jinr-heading{
        position: relative;
        padding: 0 0 0 21px;
        margin-bottom: 1.5rem;
        &::before{
            content: "";
            position: absolute;
            width: 12px;
            height: 2px;
            left: 0;
            top: 50.5%;
            transform: translateY(-50%);
        }
    }
}
.d--h4-style2{
    h4.jinr-heading{
        padding: clamp(3px, 2vw, 6px) 3px;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
    }
}
.d--h4-style3{
    h4.jinr-heading{
        position: relative;
        padding: clamp(3px, 2vw, 6px) 0 clamp(3px, 2vw, 6px) 18px ;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
        }
    }
}
.d--h4-style4{
    h4.jinr-heading{
        position: relative;
        padding: clamp(9px, 2.4vw, 12px) clamp(12px, 2.7vw, 15px);
    }
}
.d--h4-style5{
    h4.jinr-heading{
        position: relative;
        padding-left: clamp(24px, 3vw, 27px);
        &::before{
            content: "";
            position: absolute;
            top: 2px;
            left: 1px;
            width: 15px;
            height: 15px;
            border-radius: 3px;
            @include s.mini_tablet_view{
                top: 4px;
            }
        }
    }
}
.d--h4-style6{
    h4.jinr-heading{
        position: relative;
        padding-left: clamp(24px, 3vw, 27px);
        &::before{
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            border-width: 1px;
            border-style: solid;
            @include s.mini_tablet_view{
                top: 3px;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 11px;
            height: 11px;
            border-radius: 18px;
            @include s.mini_tablet_view{
                top: 6px;
            }
        }
    }
}


.t--round-s{
	.d--h2-style1,
    .d--h2-style2{
        h2.jinr-heading{
			border-radius: s.$r_s;
		}
    }
    .d--h4-style1{
        h4.jinr-heading{
            &::before{
                border-radius: s.$r_s;
            }
        }
    }
}
.t--round-m{
	.d--h2-style1,
    .d--h2-style2{
        h2.jinr-heading{
			border-radius: s.$r_s;
		}
    }
    .d--h4-style1{
        h4.jinr-heading{
            &::before{
                border-radius: s.$r_s;
            }
        }
    }
}
.t--round-l{
    .d--h2-style1,
    .d--h2-style2{
        h2.jinr-heading{
			border-radius: s.$r_m;
		}
    }
    .d--h4-style1{
        h4.jinr-heading{
            &::before{
                border-radius: s.$r_s;
            }
        }
    }
}

//投稿画面用
.t--round-s{
	&.d--h2-style1,
    &.d--h2-style2{
        h2.jinr-heading{
			border-radius: s.$r_s;
		}
    }
    &.d--h4-style1{
        h4.jinr-heading{
            &::before{
                border-radius: s.$r_s;
            }
        }
    }
}
.t--round-m{
	&.d--h2-style1,
    &.d--h2-style2{
        h2.jinr-heading{
			border-radius: s.$r_s;
		}
    }
    &.d--h4-style1{
        h4.jinr-heading{
            &::before{
                border-radius: s.$r_s;
            }
        }
    }
}
.t--round-l{
    &.d--h2-style1,
    &.d--h2-style2{
        h2.jinr-heading{
			border-radius: s.$r_m;
		}
    }
    &.d--h4-style1{
        h4.jinr-heading{
            &::before{
                border-radius: s.$r_m;
            }
        }
    }
}

.t--round-l,
.t--round-m,
.t--round-s{
    .d--h2-style5{
        h2.jinr-heading::before{
			border-radius: 2px;
		}
    }
    .d--h2-style6,
    .d--h2-style8{
        h2.jinr-heading{
			border-radius: 4px;
		}
    }
    .d--h3-style2{
        h3.jinr-heading::before{
			border-radius: 4px;
		}
    }
}
.t--round-l,
.t--round-m,
.t--round-s{
    &.d--h2-style5{
        h2.jinr-heading::before{
			border-radius: 2px;
		}
    }
    &.d--h2-style6,
    &.d--h2-style8{
        h2.jinr-heading{
			border-radius: 4px;
		}
    }
    &.d--h3-style2{
        h3.jinr-heading::before{
			border-radius: 4px;
		}
    }
}